{{!-- Reminder- this is a partial! Handlebars will render this code for as many '{{#each examples}}' that exist! --}}
{{!-- Partials are invoked in /views/ by using the syntax: {{> partial-file-name}} --}}

<link rel="stylesheet" href="/css/hm-recent-posts.css">

{{!-- The Code Below is the Card that Handles the Recent Posts for Homepage --}}
<div class="card mb-3" id="recent-posts-card" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.profile_picture}}" class="img-fluid rounded-start" alt="Profile Picture">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{text}}</p>
        <p class="card-text"><small class="text-body-secondary">Last updated {{createdAt}}</small></p>
      </div>
    </div>
  </div>
</div>



