<link rel="stylesheet" href="/css/404.css"> 

<div class="flex-grow-1 d-flex justify-content-center align-items-center rounded-4" id="card-margin">
  <div class="card text-center bg-light shadow-lg border border-dark rounded-4" style="max-width: 600px;">
    <img src="/images/naruto-3325962577.gif" class="card-img-top rounded-4" alt="404 Error">
    <div class="card-body rounded-4 rounded-top-0" id="four-card">
      <h2 class="card-title text-white display-4">404 Error</h2>
      <h5 class="card-text text-white">Either this page never existed or you never logged in!</p>
    </div>
  </div>