  <link rel="stylesheet" href="/css/hm-social-card.css"> 

  <div>
    
    <div class="card text-center" id="hm-social-card">
      <a href="/profile">
        <img src="/images/feed-bg-2.png" alt="Backsplash Image">
      </a>
    </div>
    {{#each feed}}
      {{!-- Include partial for posts --}}
      {{>posts}}
    {{/each}}
  </div>
