<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/hm-social-card.css"> 
</head>
<body>
  <div>
    
    <div class="card text-center" id="hm-social-card">
      <a href="/profile">
        <img src="/images/anime.jpg" alt="Backsplash Image">
      </a>
    </div>
    {{#each feed}}
      {{!-- Include partial for posts --}}
      {{>posts}}
    {{/each}}
  </div>
  <script src="/js/newData.js"></script>
</body>
</html>
