<link rel="stylesheet" href="/css/profile-page.css">

<div class="container mt-5 d-flex justify-content-center">
    <div class="row justify-content-center">
        <!-- Profile Avatar Card -->
        <div class="col-md-4 d-flex justify-content-end">
            <div id="profile-avatar-card" class="card">
                <img src="{{user.profile_picture}}" class="card-img-top" alt="User Avatar">
                <div class="card-body">
                    <button class="btn btn-primary" id="edit-avatar-btn">Edit</button>
                </div>
            </div>
        </div>
        <!-- Bio Card -->
        <div class="col-md-8 d-flex justify-content-start">
            <div id="profile-bio-card" class="card">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <div id="nested-card-container" class="mt-4">
                        <div class="card w-75 mb-3">
                            <div class="card-body">
                                <p class="card-text">{{user.bio}}</p>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="edit-bio-btn">Edit</button>
                </div>
            </div>
        </div>
        <!-- Social Feed Card -->
        <div class="col-md-12 mt-4 d-flex justify-content-center">
            <div id="profile-social-card" class="card text-center">
                <div class="card-header" id="feed-tab">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="friend-posts-tab" data-bs-toggle="tab" href="#friend-posts"
                                role="tab" aria-controls="friend-posts" aria-selected="true">Create Post</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="your-posts-tab" data-bs-toggle="tab" href="#your-posts" role="tab"
                                aria-controls="your-posts" aria-selected="false">Your Posts</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="create-post" role="tabpanel" aria-labelledby="friend-posts-tab">
                        <!-- Friend Posts Content -->
                        <!-- Your Posts Content -->
                        <div class="tab-pane fade" id="your-posts" role="tabpanel" aria-labelledby="your-posts-tab">
                            {{#each posts}}
                            {{>posts}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
