<div>
  {{! Reminder: userExamples comes from the data being passed in the res.render on pageOneRoutes.js! }}
  
    <div>Welcome to the profile page!</div>

  
</div>
<script src="/js/page-one.js"></script>