@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* Center the recent posts card on the page */
html,
body {
  font-family: 'Montserrat', sans-serif;
}

#recent-posts-card {
  margin: 50px auto;
  /* Adds padding from the header */
  max-width: 540px;
  /* Limits the width */
  display: block;
  border-radius: 12px;
  /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Default shadow */
  transition: box-shadow 0.3s ease;
  /* Smooth transition for the hover effect */
}

/* Hover effect for the card */
#recent-posts-card:hover {
  box-shadow: 0 8px 16px rgba(0, 255, 255, 0.6);
  /* Glow effect */
}

#pfp {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

#recent-posts-card .card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#h6 {
  font-weight: 505;
  font-size: 12px;
  font-style: italic;
}

h5 {
  font-weight: 505;
  font-size: 18px;
}