@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --mainblue: #2c90e3;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; Ensure body takes up full viewport height */
}

header img {
  scale: 100%;
}

#header {
  background-color: var(--mainblue);
}

#header-loggedIn {
  background-color: var(--mainblue);
  padding-right: 4rem;
  position: relative; /* Ensures header is in the normal document flow */
  z-index: 1000; /* Keeps header above other content */
}

#footer {
  background-color: var(--mainblue);
  padding: 0.5rem; /* Optional: Add some padding for the footer */
  text-align: center;
}

#home-btn,
#profile-btn,
#market-btn,
#logout-btn {
  color:  white;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  /* font-weight: 501; */
}

main {
  flex: 1; 
  /* Allows main to take up remaining space */
}

footer {
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  font-family: 'Montserrat', sans-serif;
  /* border-top: 1px solid rgba(255, 255, 255, 0.873); */
}

/* footer p {
  margin: 10px 0;
} */

footer i {
  color: red;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #f77140; /* Red-orange color on hover */
}
