@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --mainblue: #2c90e3;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  background-color: var(--mainblue);
  padding-right: 4rem;
}
#footer {
  background-color: var(--mainblue);
}

#home-btn,
#profile-btn,
#market-btn,
#logout-btn {
  color:  white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 501;
}